.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}
