@use "../../styles/global/variables.scss" as v;

.login-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    height: calc(100vh - v.$header-height);
    padding: 0px 20px 0px 20px;

    .brand-title {
        margin-top: 100px;
    }

    form {
        width: 350px;
        background-color: #f4f3f3;
        padding: 30px;
    }

    form button {
        margin: 12px auto 12px auto;
        width: 100%;
    }

    .azure-login {
        margin-top: 24px;
    }
}

.-dark-mode .login-screen-container {
    form {
        background-color: var(--dt-dark-bg);
    }
}